@import 'modern-normalize/modern-normalize.css';

body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fafafa;
  background-color: #0c0b0b;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  font-family: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
}

image {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

svg {
  display: block;
}
