<footer class="footer">
  <div class="container">
    <ul class="footer_list">
      <li class="footer_list_item">
        <a class="logo" href="./index.html">
          <svg width="202" height="31">
            <use
              href="/src/images/sprite.svg#logo"
            ></use></svg
        ></a>
      </li>
      <li class="footer_list_item">
        <a
          class="footer_list_item_link"
          href="./comics.html"
          >Comics</a
        >
      </li>
      <li class="footer_list_item">
        <ul class="social-links_list">
          <li class="social-links_list_item">
            <a
              class="social-links_list_item_link"
              href="#"
              rel="noopener noreferrer nofollow"
              ><svg width="10" height="20">
                <use
                  href="./src/images/sprite.svg#facebook"
                ></use></svg
            ></a>
          </li>
          <li class="social-links_list_item">
            <a
              class="social-links_list_item_link"
              href="#"
              rel="noopener noreferrer nofollow"
              ><svg width="18" height="18">
                <use
                  href="./src/images/sprite.svg#instagram"
                ></use></svg
            ></a>
          </li>
          <li class="social-links_list_item">
            <a
              class="social-links_list_item_link"
              href="#"
              rel="noopener noreferrer nofollow"
              ><svg width="17" height="14">
                <use
                  href="./src/images/sprite.svg#twitter"
                ></use></svg
            ></a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="policy_box">
      <p class="policy_text">
        Privacy Policy Public Offering Agreement
      </p>
    </div>
  </div>
</footer>
