<header class="header">
  <div class="container">
    <nav class="site-nav">
      <a class="logo" href="./index.html"
        ><svg width="202" height="31">
          <use href="./src/images/sprite.svg#logo"></use></svg
      ></a>
      <form class="search_form">
        <label class="search_label">
          <input
            class="search_input"
            list="browsers"
            name="fav"
            placeholder="Search"
        /></label>
        <datalist id="browsers"> </datalist>
        <button class="search-btn" type="submit">
          <svg width="18" height="18">
            <use href="./src/images/sprite.svg#search"></use>
          </svg>
        </button>
      </form>
    </nav>
  </div>
</header>
