<section class="section">
  <div class="container">
    <h2 class="last-comics_title">Last Comics</h2>
    <div class="last-comics_list-box">
      <div class="last-comics_list-box_slides">
        <ul class="last-comics_list slide-one">
          <li class="skeleton_item">
            <svg class="skeleton_icon">
              <use href="/src/images/sprite.svg#skeleton"></use>
            </svg>
          </li>
          <li class="skeleton_item">
            <svg class="skeleton_icon">
              <use href="/src/images/sprite.svg#skeleton"></use>
            </svg>
          </li>
          <li class="skeleton_item">
            <svg class="skeleton_icon">
              <use href="/src/images/sprite.svg#skeleton"></use>
            </svg>
          </li>
        </ul>
        <ul class="last-comics_list slide-two">
          <li class="skeleton_item">
            <svg class="skeleton_icon">
              <use href="/src/images/sprite.svg#skeleton"></use>
            </svg>
          </li>
          <li class="skeleton_item">
            <svg class="skeleton_icon">
              <use href="/src/images/sprite.svg#skeleton"></use>
            </svg>
          </li>
          <li class="skeleton_item">
            <svg class="skeleton_icon">
              <use href="/src/images/sprite.svg#skeleton"></use>
            </svg>
          </li>
        </ul>
      </div>
    </div>
    <ul class="last-comics-btn_list">
      <li class="last-comics-btn_list_item">
        <button class="last-comics-btn_list_btn slide-left" type="button">
          <svg class="last-comics-btn_list_icon" width="18" height="12">
            <use href="./src/images/sprite.svg#arrow-left"></use>
          </svg>
        </button>
      </li>
      <li class="last-comics-btn_list_item">
        <button class="last-comics-btn_list_btn slide-right" type="button">
          <svg class="last-comics-btn_list_icon" width="18" height="12">
            <use href="./src/images/sprite.svg#arrow-left"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
