<section class="section">
  <div class="container">
    <div>
      <p>Web-based platform</p>
      <h1>Marvelous Adventures</h1>
      <p>
        is a web-based platform that provides an immersive
        experience for users to explore and discover a vast
        collection of Marvel characters and comics. Start
        exploring the Marvelous Adventures now by visiting
        our Characters and Comics sections and discover your
        new favorites today.
      </p>
      <a href="./comics.html">All comics</a>
    </div>
    <ul>
      <li><button type="button"></button></li>
      <li><button type="button"></button></li>
      <li><button type="button"></button></li>
    </ul>
    <div>
      <img
        src="./src/images/desktop-black-panter1@1x.jpg"
        alt="black panther"
      /><img
        src="./src/images/desktop-black-panter2@1x.jpg"
        alt="black panther"
      />
      <h3>Characters</h3>
      <p>
        T’Challa is the king of the secretive and highly
        advanced African nation of Wakanda - as well as the
        powerful warrior known as the Black Panther.
      </p>
    </div>
  </div>
</section>
