<section class="section comics-hero">
  <div class="container comics-hero_box">
    <div class="comics-hero_text-box">
      <p class="comics-hero_label">Web-based platform</p>
      <h1 class="comics-hero_title">Comics</h1>
      <p class="comics-hero_text">
        Comics is a medium used to express ideas with images, often combined
        with text or other visual information.
      </p>
    </div>
    <div class="comics-hero_link-box">
      <a class="back-to-home" href="./index.html">Back home</a>
    </div>
  </div>
</section>
