.section-filter {
  padding: 64px 0;
}

.filter_form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  row-gap: 12px;
  column-gap: 8px;
  @media screen and (min-width: 768px) {
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
  }
  @media screen and (min-width: 1440px) {
    margin-inline: auto;
    width: 927px;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    column-gap: 16px;
  }
}

.filter_form_label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: rgba(250, 250, 250, 0.3);
  line-height: 1.29;

  &-format {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row: 2;
    @media screen and (min-width: 768px) {
      grid-column-start: 2;
      grid-column-end: 2;
      grid-row: 1;
    }
  }
  &-order {
    position: relative;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row: 2;
    @media screen and (min-width: 768px) {
      grid-column-start: 3;
      grid-column-end: 3;
      grid-row: 1;
    }
  }
  &-date {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row: 3;
    @media screen and (min-width: 768px) {
      grid-column-start: 4;
      grid-column-end: 4;
      grid-row: 1;
    }
  }
}

.filter_form_input,
.filter_form_select {
  display: flex;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 100px;
  border: 2px solid var(--second-bg-color);
  background: #171717;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  color: var(--default-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  &-search {
    background-color: var(--second-bg-color);
    cursor: text;
  }
  &-search::placeholder {
    color: var(--default-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    @media screen and (min-width: 768px) {
      font-size: 16px;

      line-height: 1.13;
      padding: 16px 24px;
    }
  }

  @media screen and (min-width: 768px) {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.13;
    padding: 16px 24px;
  }
}

.filter_form_label-format,
.filter_form_label-order,
.filter_form_label-date {
  &::after {
    content: '\25BC';
    display: block;
    color: var(--default-text-color);

    position: absolute;
    bottom: 30%;
    right: 24px;
    transform: translateY(30%);
    pointer-events: none;
    cursor: pointer;
  }
}

.input_box {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
  @media screen and (min-width: 768px) {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row: 1;
  }
}

.filter_form_btn {
  position: absolute;
  top: 50%;
  right: 24px;
}
