.comics {
  padding-top: 0;
}

.comics_list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.comics_list_item {
  max-width: 332px;
}

.comics_list_img {
  width: 332px;
  height: 445px;
  border-radius: 8px;
  cursor: pointer;
  pointer-events: all;
}

.comics_list_title {
  color: var(--default-text-color);
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.48px;
  margin-bottom: 8px;
}

.comics_list_text {
  color: rgba(250, 250, 250, 0.5);
  font-size: 16px;
  line-height: 1.13;
}

.no-results_box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/src/images/boom.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-inline: auto;
  max-width: 375px;
  height: 221px;
}

.no-results_text {
  color: var(--default-text-color);
  max-width: 192px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.48px;
}

.pagination-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 64px;
}

.pag_list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.pag_btn {
  padding: 7px 7px;
  border-radius: 4px;
  min-width: 32px;
  height: 32px;

  border: 1px solid rgba(250, 250, 250, 0.3);
  background-color: #171717;

  color: var(--default-text-color);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.27;
}

.btn--disabled {
  opacity: 0.5;
  border: none;
}
.btn--enabled {
  background: var(--second-bg-color);
  border: none;
}
