.comics-hero {
  height: 510px;
  background-image: url('/src/images/mobile-hero@1x.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: 375px;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('/src/images/mobile-hero@2x.jpg');
  }
  padding: 64px 0;
  @media screen and (min-width: 768px) {
    height: 780px;
    background-image: url('/src/images/tablet-hero@1x.jpg');
    background-size: 599px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/tablet-hero@2x.jpg');
    }
  }
  @media screen and (min-width: 1440px) {
    background-image: url('/src/images/descktop-hero@1x.jpg');
    background-size: 1092px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/descktop-hero@2x.jpg');
    }
  }
}

.comics-hero_box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.comics-hero_text-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.comics-hero_label {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.6;
  }
}

.comics-hero_title {
  color: var(--default-text-color);
  font-size: 60px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -1.2px;
  @media screen and (min-width: 768px) {
    font-size: 150px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -3px;
  }
}

.comics-hero_text {
  max-width: 469px;

  color: var(--default-text-color);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.28px;
  @media screen and (min-width: 768px) {
    margin-left: 88px;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 0.32px;
  }
}

.comics-hero_link-box {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @media screen and (min-width: 768px) {
    right: 32px;
    bottom: 32px;
  }
  @media screen and (min-width: 1440px) {
    bottom: 64px;
  }
}

.back-to-home {
  padding: 12px 24px;
  border-radius: 1000px;
  border: 1px solid rgba(250, 250, 250, 0.5);

  color: #fafafa;
  font-weight: 500;
  line-height: 1.27;
  text-transform: uppercase;
  transition: background-color var(--animation);
  &:hover,
  &:focus {
    background-color: rgba(250, 250, 250, 0.144);
  }
}
