@keyframes skeleton {
  0% {
    color: rgba(250, 250, 250, 0.5);
  }

  50% {
    color: rgba(71, 70, 70, 0.5);
  }

  100% {
    color: rgba(250, 250, 250, 0.5);
  }
}

.last-comics_title {
  color: var(--default-text-color);
  font-size: 44px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.88px;
  text-transform: uppercase;
  margin-bottom: 64px;
}
.last-comics_list-box {
  display: flex;
  width: 1376px;
  overflow: hidden;
  margin-bottom: 32px;
}
.last-comics_list-box_slides {
  display: flex;
  transition: transform var(--animation);
}

.last-comics_list {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 1376px;
  overflow: hidden;
}

.last-comics_list_item {
  display: block;
  border-radius: 8px;
  width: 448px;
  height: 519px;
  overflow: hidden;
}

.last-comics_list_img {
  width: 448px;
  height: 519px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  pointer-events: all;
  margin-bottom: 16px;
  transition: transform var(--animation);
  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.last-comics_list_title {
  color: var(--default-text-color);
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.48px;
  margin-bottom: 8px;
}

.last-comics_list_text {
  color: rgba(250, 250, 250, 0.5);
  font-size: 16px;
  line-height: 1.13;
}

.last-comics-btn_list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.skeleton_item {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 609px;
  width: 448px;
  animation: skeleton 1000ms linear infinite alternate;
  color: rgba(250, 250, 250, 0.5);
  fill: currentColor;
}

.last-comics-btn_list_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--second-bg-color);
  border-radius: 50%;
  border: none;
  color: var(--default-text-color);
  fill: currentColor;
  &.slide-right {
    transform: rotateZ(180deg);
  }
}
